@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: akkurat-bold;
    src: url(../fonts/Akkurat-Bold.ttf);
}

@font-face {
    font-family: akkurat;
    src: url(../fonts/Akkurat.ttf);
}

/*---------------------------------------------------
				General
----------------------------------------------------*/


.last {margin-right:0 !important;}
.accessAlt {position:absolute; left:-9999em;}
.clear{ clear:both;}
.gauche{ float:left;}
.droite{ float:right;}
.centre{ margin:0 auto;}
.full{ width:100%; text-align:center;}

.divider{ border-bottom: 1px solid #dbdbdb; margin-top:20px;}
#main{ width:500px; margin:80px auto 0 auto; background-color: rgba(0,0,0,.9); padding:10px; border:1px solid #333; position:relative; color:#434343; font-family:akkurat,  Arial, Helvetica, sans-serif;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, .5);
    box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, .5);}

.close{ position:absolute; top:-8px; right:-8px; cursor:pointer;}

.content{background-color:#f7f7f7; background-image:url(../img/bg_content.jpg); padding:10px 9px; border-right:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; border-left:1px solid #d4d4d4;
	-webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;}
.contentCarreTop{background-color:#f7f7f7; background-image:url(../img/bg_content.jpg); padding:10px 9px; border-right:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; border-left:1px solid #d4d4d4;
	-webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;}

.contentFonce{ height:21px; background-image:url(../img/bg_contentFonce.jpg);
	-webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;}

header{ height:35px; position:relative;}
ul#lang{ position:absolute; bottom:10px; right:10px; list-style:none; float:left; margin:0;}
ul#lang li{ float:left; text-transform:uppercase; font-size:8px; margin-left:3px; color:#93989d;}
ul#lang li.active{ color:#333;}


.filDariane{ margin-left:-32px; position:relative;}

ul#filDariane{ list-style:none; /*float:left; position:absolute; top:5px;*/ margin:0; padding:0;}
ul#filDariane li{ /*float:left;*/ color:#93989d; height:19px; width:109px; position:absolute; text-align:center; padding-top:5px; top:10px; background-image:url(../img/fleche.png); background-position:0 0; font-size:11px;}

ul#filDariane li.active{ background-position:0 24px; color:#fff; padding-top:7px;}

ul#filDariane li.depart{ width:105px; left:25px; background-image:url(../img/fl_depart.png); background-position:0 0;}
ul#filDariane li.depart.active{background-image:url(../img/fl_depart.png);  background-position:0 24px; color:#fff; padding-top:7px;}

ul#filDariane li#contribution{ left:120px;}
ul#filDariane li#format{ left:218px;}
ul#filDariane li#confirmation{ left:316px;}
ul#filDariane li#fin{ left:414px;}


.contenuCentre{ padding-top:10px;}



/*----------   titres    ------------*/

h1{ margin:0; text-align:center; text-transform:uppercase; color:#404040; font-size:25px;}

h3{ margin:10px 0; text-align:center; text-transform:uppercase; font-size:12px; font-weight:normal;}
h4{ margin:0; text-align:center; text-transform:uppercase; font-size:12px; font-weight:bold; padding-top:5px;}


/*----------   step 01    ------------*/

.choixAlbum{ background-color:#fff; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x; width:210px; border:1px solid #dbdbdb; float:left; margin-right:20px; padding:9px;
	-webkit-border-radius: 5px;
    border-radius: 5px;}
.imgPochette{ width:210px;}
	.imgPochette img{max-width:210px;}
.controles{ width:100%; height:15px; margin-top:10px; border:1px solid #dbdbdb; position:relative; padding-top:3px; background-color:#ebebeb; font-size:11px; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x;
	-webkit-border-radius: 9px;
    border-radius: 9px;}

.titreAlbum{ text-align:center;}
.switchG{ position:absolute; top:2px; left:5px; }
.switchD{ position:absolute; top:2px; right:5px; }
.choixMorceau{ background-color:#fff; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x; width:210px; height:240px; border:1px solid #dbdbdb; float:left; padding:9px;
	-webkit-border-radius: 5px;
    border-radius: 5px;}
.boiteInterieur{border:1px solid #dbdbdb; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x; width:100%; height:100%;
	-webkit-border-radius: 5px;
    border-radius: 5px;}

.contentFonce{ height:31px; background-image:url(../img/bg_contentFonce.jpg);}
.contentFonce h3{ margin:0; padding-top:10px; font-weight:bold;}

.zoneDownload{ padding-top:10px;}

.zoneDownload span{ float:left; color:#fff; text-align:center; width:60px; padding-top:6px;}

.btnDownload{background-image:url(../img/btn_vert.png); width:220px; height:24px; color:#fff; text-align:center; padding-top:7px;}
img.btn{ cursor:pointer;}

p.pinfo{ color:#fff; font-size:10px; margin:25px 0 0 0; float:right;}
p.pinfo a{ color:#00acec;}
p.pinfo a:hover{ color:#fff;}



/*----------   step 02    ------------*/

.titreBlanc{ height:22px; background-color:#fff;background-image:url('../img/ombre_content.png'); background-repeat:repeat-x;}
.nomAlbum{ width:100%; text-align:center;}
#montantAbonn{ width:100%; text-align:center; margin-bottom:10px; height:21px;}
#montantAbonn input[type=text]{ width:70px; text-align:center;}

#slider{ width:440px; margin:10px auto;}
#sliderAbo{ width:440px; margin:10px auto;}

.ui-slider-horizontal{ height:7px;}
.ui-widget-content {
border: 1px solid #dbdbdb/*{borderColorContent}*/;
background: #93989d url(../img/ombre_content.png) repeat-x/*{bgContentRepeat}*/;
color: #222/*{fcContent}*/;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 0px;
outline:none;
cursor:pointer;
background:url(../img/btn_slider.png);
}

.contentContribution{ width:100%; border:1px solid #dbdbdb; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x;background-color:#d0d0d0;
	-webkit-border-radius: 5px;
    border-radius: 5px;}

 #soutenir{ border-bottom:1px solid #9c9c9c;}
.on #soutenir{ background-color:#525252; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x;border-bottom:1px solid #3d3d3d;
	-webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;}

#entendre{ border-bottom:1px solid #9c9c9c; border-top:1px solid #e3e3e3;}
.on #entendre{ background-color:#525252;border-bottom:1px solid #3d3d3d; border-top:1px solid #979797;}
#voir{ border-bottom:1px solid #9c9c9c; border-top:1px solid #e3e3e3;}
.on #voir{ background-color:#525252;border-bottom:1px solid #3d3d3d; border-top:1px solid #979797;}
#participer{ border-bottom:1px solid #9c9c9c; border-top:1px solid #e3e3e3;}
.on #participer{ background-color:#525252;border-bottom:1px solid #3d3d3d; border-top:1px solid #979797;}
#prendrePart{ border-bottom:1px solid #9c9c9c; border-top:1px solid #e3e3e3;}
.on #prendrePart{ background-color:#525252; border-top:1px solid #979797;-webkit-border-radius: 0px 0px 5px 5px;
    border-radius:0px 0px 5px 5px ;}

.itemListContribution{padding:6px;}
.dividerList{ height:3px; width:100%; background-image:url(../img/dividerList.png);}


.crochet{ height:18px; width:18px; background-image:url(../img/crochets.png); background-position:0 0; float:left; margin-right:10px;}
.on .crochet{ background-position:0 18px;}

.on .nomContribution{background-position:0 17px; color:#fff;}
.descContribution{ font-size:11px; padding-top:2px;}
.on .descContribution{ color:#fff;}


input[type="range"]{width:100%;}
.contentPwyw{width:100%; border:1px solid #dbdbdb; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x;background-color:#fff;
	-webkit-border-radius: 5px;
    border-radius: 5px;}
.contentPwyw .affichagePwyw{ margin:5px;border:1px solid #474747; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x;background-color:#525252; position:relative; height:140px;
	-webkit-border-radius: 5px;
    border-radius: 5px;}
#pastillePrix{ position:absolute; height:58px; width:90px; background-image:url(../img/pastillePrix.png); top:24px; left:38px; font-weight:bold; font-size:18px; text-align:center; padding-top:32px;}
	.contentPwyw .affichagePwyw.center #pastillePrix{position:relative; left:auto; top:auto; margin:23px auto 0 auto;}

#montantPWYW{ width:100%; text-align:center; margin-bottom:10px; height:21px;}
#montantPWYW input[type=text]{ width:70px;}

.cache{ display:none;}



/*----------   step 03   ------------*/


.itemListFormat{padding:6px; border-bottom:1px solid #9c9c9c; border-top:1px solid #e3e3e3;}
.on .itemListFormat{background-color:#525252;border-bottom:1px solid #3d3d3d; border-top:1px solid #979797;}


.firstItem{ border-bottom:1px solid #9c9c9c; border-top:0;}
.on .firstItem{ background-color:#525252; background-image:url('../img/ombre_content.png'); background-repeat:repeat-x;border-bottom:1px solid #3d3d3d; border-top:0;
	-webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;}

.lastItem{ border-bottom:0;border-top:1px solid #e3e3e3;}
.on .lastItem{ background-color:#525252; border-bottom:0;border-top:1px solid #979797;
	-webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;}

.itemListFormat input[type=radio]{ float:left; margin:3px 10px 0 2px;}

.nomContribution{ width:111px; height:14px; background-image:url(../img/nomFormat.png); background-position:0 0; float:left; text-align:center; text-transform:uppercase; font-size:11px; padding-top:3px; margin-right:10px;}
.on .nomContribution{background-position:0 17px; color:#fff;}
.descContribution{ font-size:11px; padding-top:2px;}
.on .descContribution{ color:#fff;}

.vert{ color:#6d9848;}


/*----------   step 04   ------------*/

.contentInfo{ width:100%; border:1px solid #474747;background-color:#525252;
	-webkit-border-radius: 5px;
    border-radius: 5px;}

.topBoiteBleu{ text-align:center; color:#fff; background-image: url(../img/bg_bleu.jpg); background-repeat:repeat-x; padding:5px 0; font-size:11px; border-bottom:1px solid #3b3b3b;}

form#infoTelechargement{ margin:15px 10px; font-size:11px; color:#959595;}
form#infoTelechargement input{ width:210px;}
form#infoTelechargement input[type=radio], input.radio{ float:left; width:auto; margin-right:3px;}
form#infoTelechargement label{ float:left; display:block; margin-right:10px;}
.floatLeft{ float:left;}

table#address tr{ height:25px;}
hr{ color:#888; border:0; background-color:#888;}

#countries{ width:120px; margin-right:7px;}
input[type=text]#state{ width:80px;}


.contentConfirm{ width:100%; border:1px solid #dcdcdc;background-color:#fff;
	-webkit-border-radius: 5px;
    border-radius: 5px;}

.contentConfirm .topBoiteBleu{ text-align:center; color:#fff; background-image: url(../img/bg_bleu.jpg); background-repeat:repeat-x; padding:5px 0; font-size:11px; border-bottom:1px solid #dcdcdc;
	-webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;}

.textConfirm{ font-size:11px; padding:0 30px 20px;}
.textConfirm ul{ padding:0 0 0 15px;}

/*----------   step 05   ------------*/
.contentConfirmFin{ width:100%; border:1px solid #dcdcdc;background-color:#fff; background-image:url(../img/ombre_content.png), url(../img/bg_content_pale.jpg); background-repeat:repeat-x, repeat;
	-webkit-border-radius: 5px;
    border-radius: 5px;}

.contentConfirmFin .textConfirm{ margin:5px; border:1px solid #dcdcdc;background-color:#fff; background-image:url(../img/ombre_content.png); background-repeat:repeat-x; padding:0;
	-webkit-border-radius: 5px;
    border-radius: 5px;}

.contentConfirmFin .textConfirm p{ text-align:center;}


.social{ width:100%; background-color:#525252; border-top:1px solid #333; color:#fff;
-webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;}
.social p{ margin:13px 5px 5px 60px; font-weight:bold; font-size:14px; float:left;}
.social ul{/* width:115px; margin:0 0 0 -57px;left:50%;*/ list-style:none; float:left; padding:0; position:relative; }
.social ul li{ float:left; margin:0; padding:0 2px;}

#lienPartage{ text-align:center; padding-bottom:10px;}



/*------------  terms  --------------*/

.contentTerms{ width:460px; border:1px solid #474747; background-image:url(../img/bg_content.jpg);
	-webkit-border-radius: 5px;
    border-radius: 5px;}

.contentTerms .topBoiteBleu{ font-size:13px; text-transform:uppercase; font-weight:bold; padding:10px 0;}

.contentTerms .contentFonce{ background-color:#959595; background-image:url(../img/ombre_content.png); background-repeat:repeat-x; padding:7px 0; border-top:1px solid #474747;}

.contentTerms .textConfirm{ margin:10px 15px; border:1px solid #dcdcdc;background-color:#fff; background-image:url(../img/ombre_content.png); background-repeat:repeat-x; padding:0 0 0 10px; height:185px;
	-webkit-border-radius: 5px;
    border-radius: 5px;}

h5{ margin:5px 0; text-transform:uppercase; padding-right:10px;}

/*------------  me permet de   --------------*/

.contentPermet{ width:460px; border:1px solid #474747; background-image:url(../img/bg_content.jpg);
	-webkit-border-radius: 5px;
    border-radius: 5px;}

.contentPermet .topBoiteBleu{ font-size:13px; text-transform:uppercase; font-weight:bold; padding:10px 0;}
.contentPermet .contentFonce, .contentAvertissement .contentFonce{ background-color:#959595; background-image:url(../img/ombre_content.png); background-repeat:repeat-x; padding:7px 0; border-top:1px solid #474747;}

.contentPermet .textConfirm{ margin:20px 15px; border:1px solid #dcdcdc;background-color:#525252; background-image:url(../img/ombre_content.png); background-repeat:repeat-x; padding:0;
	-webkit-border-radius: 5px;
    border-radius: 5px;}

.contentPermet .firstItem{background-image:url('../img/ombre_content.png'); background-repeat:repeat-x;border-bottom:1px solid #3d3d3d; border-top:0;
	-webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;}

.contentPermet .itemListFormat{border-bottom:1px solid #3d3d3d; border-top:1px solid #979797;}

.contentPermet .lastItem{ border-bottom:0;border-top:1px solid #979797;
	-webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;}

.contentPermet .nomContribution{background-position:0 17px; color:#fff;}
.contentPermet .descContribution{ color:#fff;}


/*------------  avertissement   --------------*/

.topBoiteGris{ font-size:13px; text-transform:uppercase; font-weight:bold; padding:10px 0; text-align:center; color:#fff; background-image: url(../img/bg_gris.jpg); background-repeat:repeat-x;}

.contentAvertissement p{ text-align:center; font-weight:bold;}

.contentFonce .gauche{ left:20px;}

.btnRetour{background-image:url(../img/btn_retour.png); width:155px; height:23px; color:#fff; font-weight:bold; text-align:center; padding-top:7px; margin-right:30px;}
.btnQuitter{background-image:url(../img/btn_quitter.png); width:155px; height:23px; color:#fff; font-weight:bold; text-align:center; padding-top:7px; margin-left:30px;}

.contentAvertissement{width:380px; border:1px solid #474747; background-image:url(../img/bg_content.jpg);
	-webkit-border-radius: 5px;
    border-radius: 5px;}
