{% load i18n %}

{% block subject %} {% trans 'Confirmation and download' %} {% endblock %}
{% block html %}
<table width="630" cellpadding="0" cellspacing="0" style="margin:0 auto; background-color:#DCDCDC; border:1px solid #B9B9B9;"> <tr> <td> <table width="100%" cellpadding="0" cellspacing="0" border="0"> <tr> <td style="padding:15px 15px 0 15px; background-color:#DCDCDC; color:#3E3E3E; font-family:Arial; font-weight:bold; text-transform:uppercase; font-size:36px;">{{artist}}<hr style="color:#CCCCCC; margin:10px 0 0 0; padding:0; border:none; border-top:1px solid #CCCCCC; height:1px;" /> </td> </tr> <tr> <td style="padding:15px;"> <p style="margin:0; padding:0; font-size:16px; font-family:Arial; color:#3E3E3E;">{% trans 'Thank you' %} {{first_name}} {% trans 'for choosing to pay' %} <strong>${{price}}</strong> {% trans 'to download' %} <strong>{{choix}}</strong> {% trans 'from' %} <strong>{{artist}}</strong>.</p>
<br/>
<p style="margin:0; padding:0; font-size:16px; font-family:Arial; color:#3E3E3E;">{% trans 'This amount has been charged by Ghoster. You can find your transaction receipt below.' %}</p>
</td> </tr> <tr> <td style="padding:15px;">

    <p style="margin:0; padding:0; font-size:16px; font-family:Arial; color:#3e3e3e;">{% trans 'Here is your download link:' %}</p></td></tr><td style="padding:0 15px 15px 15px;"> <table width="500" cellpadding="0" cellspacing="0" border="0" style="margin:15px auto;"> <tr> <td style="padding:15px; background-color:#A7CF5F; text-align:center;"><a style="margin:0; padding:0; font-size:14px; font-family:Arial; color:#404040;" href="{{download}}" target="_blank">{{download}}</a><br /><br /><p style="margin:0; padding:0; font-size:11px; font-family:Arial; color:#3e3e3e;">{% trans 'For any problem, please contact our technical support at' %} <a style="margin:0; padding:0; font-size:11px; font-family:Arial; color:#404040;" href="mailto:support@ghoster.me">support@ghoster.me</a></p>

    </td> </tr> </table> </td> </tr> <tr> <td style="padding:0 15px 15px 15px;"> <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin:0 auto; border:1px solid #B9B9B9;"> <tr> <td style="background-color:#fff;"> <table width="100%" cellpadding="0" cellspacing="0" border="0"> <tr> <td style="padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;"> {% trans 'Item' %} </td> <td style="padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;"> {% trans 'Format' %} </td> <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;"> {% trans 'TPS 5%' %}' </td><td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;"> {% trans 'TVQ 9.975%' %} </td> <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;"> {% trans 'Billed amount' %} </td> <td style="padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;"> {% trans 'Payment method' %} </td> </tr> <tr> <td style="padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">{{choix}}</td>

    <td style="padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">{{format}}</td>
    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">{{tps}}</td>
    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">{{tvq}}</td>
    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">${{price}}</td> <td style="padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">{% trans 'Credit card' %}</td> </tr> </table> </td> </tr> </table> </td> </tr>

    <tr> <td style="padding:0 15px 15px 15px;">
    <p style="margin:0; padding:0; font-size:12px; font-family:Arial; color:#3e3e3e;">{% trans 'Please note that your email has been added to the mailing list of' %} {{artist}}. {% trans 'You will be informed of their activities to come. If you want to, you can unsubscribe from this list at any time, through the unsubscribe link at the bottom of all communications.' %}</p>

    </td> </tr>

    <tr> <td style="padding:5px; background-color:#404040; font-size:10px; font-family:Arial; color:#fff;">&nbsp;  </td> </tr> </table> </td> </tr> </table>
{% endblock %}
