{% load i18n %}

{% block subject %} {% trans 'Subscription confirmation' %} {% endblock %}
{% block html %}
<html>
<head>
<meta charset="utf-8">
</head>
<body>
    <table width="630" cellpadding="0" cellspacing="0" style="margin:0 auto; background-color:#DCDCDC; border:1px solid #B9B9B9;">
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="padding:15px 15px 0 15px; background-color:#DCDCDC; color:#3E3E3E; font-family:Arial; font-weight:bold; text-transform:uppercase; font-size:36px;">
                            {{artist}}
                            <hr style="color:#CCCCCC; margin:10px 0 0 0; padding:0; border:none; border-top:1px solid #CCCCCC; height:1px;" /> </td> </tr> <tr> <td style="padding:15px;">
                            <p style="margin:0; padding:0; font-size:16px; font-family:Arial; color:#3E3E3E;">{% trans 'Thank you' %} {{first_name}}, {% trans 'for choosing to support the career of' %} <strong>{{artist}}</strong> {% trans 'with a contribution of' %} <strong>${{price}} {% trans 'per month' %}</strong>.</p>
                            <p>{% trans 'The same amount will be charged each month by' %} <em>Ghoster</em>. {% trans 'You can find your transaction receipt below.' %}</p>
                            <p>{% trans 'Here is your access to the exclusive section for' %} <strong>{{artist}}</strong> : {{exclusive_link}}</p>
                            <p>{% trans 'To enter the exclusive section, enter your email:' %} <strong>{{email}}</strong></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:15px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:0 15px 15px 15px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin:0 auto; border:1px solid #B9B9B9;">
                    <tr>
                        <td style="background-color:#fff;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;">
                                        {% trans 'Artist' %}
                                    </td>
                                    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;">
                                        {% trans 'TPS 5%' %}
                                    </td>
                                    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;">
                                        {% trans 'TVQ 9.975%' %}
                                    </td>
                                    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;">
                                        {% trans 'Monthly billed amount' %}
                                    </td>
                                    <td style="padding:5px; font-size:11px; font-family:Arial; font-weight:bold; color:#fff; background-color:#404040;">
                                        {% trans 'Payment method' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">
                                        {{artist}}
                                    </td>
                                    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">
                                        {{tps}}
                                    </td>
                                    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">
                                        {{tvq}}
                                    </td>
                                    <td style="text-align:right; padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">
                                        ${{price}} {% trans 'per month' %}
                                    </td>
                                    <td style="padding:5px; font-size:11px; font-family:Arial; border-bottom:1pcx solid #B9B9B9; color:#3e3e3e;">
                                        {% trans 'Credit card' %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:0 15px 15px 15px;">
                <p style="margin:0; padding:0; font-size:12px; font-family:Arial; color:#3e3e3e;">
                    {% trans 'Your email address has been added to the mailing list "privileges" of' %} <strong>{{artist}}</strong> {% trans 'to enable it to take care of you.' %}</p>
            </td>
        </tr>
         <tr>
            <td style="padding:5px; background-color:#404040; font-size:10px; font-family:Arial; color:#fff;">
                &nbsp;
            </td>
        </tr>
    </table>
</td>
</tr>
</table>
</body></html>
{% endblock %}
