<html>
<head>
<meta charset="utf-8">
</head>
<body>
    <table width="630" cellpadding="0" cellspacing="0" style="margin:0 auto; background-color:#DCDCDC; border:1px solid #B9B9B9;">
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="padding:15px 15px 0 15px; background-color:#DCDCDC; color:#3E3E3E; font-family:Arial; font-weight:bold; text-transform:uppercase; font-size:36px;">
                            Unsubscribe
                            <hr style="color:#CCCCCC; margin:10px 0 0 0; padding:0; border:none; border-top:1px solid #CCCCCC; height:1px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:15px;">
                            <p style="margin:0; padding:0; font-size:16px; font-family:Arial; color:#3E3E3E;">
                                Please click here to unsubscribe yourself from Ghoster <a href='{{link}}'>{{link}}</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px; background-color:#404040; font-size:10px; font-family:Arial; color:#fff;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
