{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Ghoster - {% trans 'Exclusive Content' %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

{{ exclusive_content | safe }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
    $('.vimeo').each(function(){
        var vimeoStr = '<iframe allowfullscreen="" frameborder="0" webkitallowfullscreen="" width="100%" height="425" mozallowfullscreen="" scrolling="no" src="';
        vimeoStr += $(this).attr('data-link');
        vimeoStr += '"></iframe>';
        $(this).before(vimeoStr);
        $(this).remove();
        vimeoStr = "";
    });
});
</script>

</body>
</html>
