{% load i18n %}

<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Ghoster</title>

  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=550, maximum-scale=1.0">
  <link rel="stylesheet" href="{{STATIC_URL}}dist/css/min.css" type="text/css" />
  <link rel="stylesheet" href="{{STATIC_URL}}dist/js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" type="text/css" />
</head>

<body>
    <div class="wrapMain">
        <div class="lightbox" id="lCS">
            <div class="lbOverlay" onClick="lightboxById('lCS'); return false;"></div>
            <div class="lbContainer">
                <div class="lbContent">
                    <header>
                        <div class="lang" style="width: 50px">
                            &nbsp;
                        </div>
                        <h1>{% trans 'Frequently Asked Questions' %}</h1>
                    </header>
                    <section class="content">
                        <div class="lining textConfirm">

                            {{content | safe}}

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-resource.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-route.min.js"></script>
                        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular-cookies.min.js"></script>
                        <script src="{{STATIC_URL}}dist/js/min.js" type="text/javascript"></script>
                        <script src="{{STATIC_URL}}dist/js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>

                        <script>
                        (function($){
                            $(window).load(function(){
                                $(".textConfirm").mCustomScrollbar({
                                    scrollButtons:{
                                        enable:true
                                    }
                                });
                            });
                        })(jQuery);
                        </script>
                        </div>
                        <div class="lining">
                            <a class="btn floaterR" href="javascript:window.close();" title="{% trans 'Close' %}">{% trans 'Close' %}</a>
                            <div class="clear"></div>
                        </div>
                        <div class="bottom">
                            &nbsp;
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
