<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Thank you!</title>
</head>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/thankyou.css">
</head>
<body>
<div class="container">
<p style="text-align:center"><img src="{{STATIC_URL}}dist/img/logo.png" class="logo" /></p>
<p class="thankyou">You have been successfully added! We'll let you know asap.</p>
</body>
</html>
