{% load i18n %}

<div class="lining">
    <h2>{[{selectedProduct.name}]}</h2>
    <p class="intro">
        {% trans 'You have chosen to download the' %} <em>{[{selectedProduct.name}]}</em> {% trans 'and to support the career of' %} {[{artist.name}]} {% trans 'with a contribution of' %} {[{selectedPrice | frenchCurrency}]}<span ng-if="type === 'subscribe'"> {% trans 'per month' %}</span>.
    </p>
    <p ng-if="type === 'pwyw'">
        {% trans 'Your link to download the product and your transaction receipt were both sent to the following email address:' %} {[{email}]}
    </p>
    <p ng-if="type === 'subscribe'">
        {% trans 'Your transaction receipt was sent to the following email address:' %} {[{email}]}
    </p>
    <p><strong>{[{artist.name}]}</strong> {% trans 'thanks you for your support!' %}<br />
    <div class="clear"></div>
</div>

<div>
    <div class="sharer">
        <div ng-repeat="share in shares">
            <a class="floaterR {[{share.type}]}" ng-href="{[{share.link}]}" target="_blank">{% trans 'Share' %}</a>
        </div>
        <p class="floaterR">{% trans 'SHARE YOUR CONTRIBUTION ON:' %}</p>
        <div class="clear"></div>
    </div>
</div>

<div class="totals">
    <p><strong>{% trans 'SUMMARY' %}</strong></p>
   <table class="tbl floater" cellpadding="0" cellspacing="0" border="0">
    <tr class="total">
     <th>{% trans 'Contributed amount' %}</th>
     <td align="right">{[{selectedPrice | currency}]}</td>
    </tr>
    <tr>
     <th>{% trans 'TPS (5%)' %}</th>
     <td align="right">{[{tps | currency}]}</td>
    </tr>
    <tr>
     <th>{% trans 'TVQ (9.975%)' %}</th>
     <td align="right">{[{tvq | currency}]}</td>
    </tr>
   </table>
   <div class="clear"></div>
</div>

<div class="lining">
    <hr>
    <div>
        <p>{% trans 'To contact us:' %} <a href="mailto:support@ghoster.me">support@ghoster.me</a></p>
        <div class="clear"></div>
    </div>
</div>

<div class="bottom">
    <a class="floaterR logo" href="https://www.ghoster.me/" target="_blank"></a>
    <a class="floaterR" href="" ng-click="openWindow('help', 'Help', 590, 590);">{% trans 'Help' %}</a>
    <a class="floaterR" href="" ng-click="openFAQ()">{% trans 'FAQ' %}</a>
    <div class="clear"></div>
</div>
