{% load i18n %}

<div class="lining">
    <h2>{[{selectedProduct.name}]}</h2>
    <p class="intro floater">{% trans 'Slide to choose your price:' %}</p>
    <div id="montantPWYW" class="floater">
        <div id="txthidden" ng-class="{accessAlt: showTxtInput()}">
            <input type="text" ng-init="selectedPriceTxt = selectedProduct.max_price" ng-model="selectedPriceTxt" placeholder="{% trans 'Enter your amount' %}" /> $
        </div>
    </div>
    <div class="clear"></div>

    <!-- for input type range in FF -->
    <input type="range" id="priceRange" ng-model="selectedPrice" min="{[{selectedProduct.min_price | number:0}]}" max="{[{selectedProduct.max_price | number:0}]}" step="{[{selectedProduct.step_price | number:0}]}">

    <div class="amount floater">{[{selectedPrice | currency}]}</div>
    <div ng-show="artist.name === 'Misteur Valaire'" class="floaterR contentGif">
        <!--affichage du GIF dynamique-->
        <div class="affGif">
            <img src="{{STATIC_URL}}dist/img/gif/01.gif" id="gif01" ng-class="{accessAlt: selectedPrice > 10}" />
            <img src="{{STATIC_URL}}dist/img/gif/02.gif" id="gif02" ng-class="{accessAlt: (selectedPrice > 20 || selectedPrice <= 10)}" />
            <img src="{{STATIC_URL}}dist/img/gif/03.gif" id="gif03" ng-class="{accessAlt: (selectedPrice > 30 || selectedPrice <= 20)}" />
            <img src="{{STATIC_URL}}dist/img/gif/04.gif" id="gif04" ng-class="{accessAlt: (selectedPrice > 40 || selectedPrice <= 30)}" />
            <img src="{{STATIC_URL}}dist/img/gif/05.gif" id="gif05" ng-class="{accessAlt: (selectedPrice > 50 || selectedPrice <= 40)}" />
            <img src="{{STATIC_URL}}dist/img/gif/06.gif" id="gif06" ng-class="{accessAlt: (selectedPrice > 60 || selectedPrice <= 50)}" />
            <img src="{{STATIC_URL}}dist/img/gif/07.gif" id="gif07" ng-class="{accessAlt: (selectedPrice > 70 || selectedPrice <= 60)}" />
            <img src="{{STATIC_URL}}dist/img/gif/08.gif" id="gif08" ng-class="{accessAlt: selectedPrice <= 70}" />

        </div>
    </div>
    <div ng-hide="artist.name === 'Misteur Valaire'" class="floaterR coverImg">
        <img ng-src="{{STATIC_URL}}media/{[{selectedProduct.cover}]}"/>
    </div>

    <div class="clear"></div>
    <a class="btn floaterR" id="next" href="#/format" title="{% trans 'Continue' %}">{% trans 'Continue' %}</a>
    <a class="btn floater" href="#/" title="{% trans 'Back' %}">{% trans 'Back' %}</a>
    <div class="clear"></div>

    <!-- <script src="{{STATIC_URL}}dist/js/html5slider.js"></script>-->
</div>

<div class="bottom">
    <a class="floater" href="" ng-click="openWindow('terms', 'Terms and Conditions', 590, 590);">{% trans 'Terms &amp; conditions' %}</a>
    <a class="floaterR" href="" ng-click="openWindow('help', 'Help', 590, 590);">{% trans 'Help' %}</a>
      <a class="floaterR" href="" ng-click="openFAQ()">{% trans 'FAQ' %}</a>
    <div class="clear"></div>
</div>
